.prototype_body_1{
  .SC_Slider{
    padding-top: 1.111vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450.45px;
    height: 102.96px;
    left: 1356.47px;
    top: 192.47px;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 3.96px 13.86px rgba(0, 0, 0, 0.25);
    border-radius: 9.9px;
    h3{
      font-family: 'Neue Haas Unica';
      font-style: normal;
      font-weight: 500;
      font-size: 27.72px;
      line-height: 28px;
      /* identical to box height */


      color: rgba(255, 255, 255, 0.5);
    }
    .slider_path{
      display: flex;
      justify-content: center;
      input[type=range]{
        width: 21.389vw;
        -webkit-appearance: none;
        background: transparent;

      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 370.26px;
        height: 11.88px;
        /* . */

        background: linear-gradient(90deg, #FFFFFF 45.74%, rgba(255, 255, 255, 0) 98.53%);
        filter: drop-shadow(3.96px 3.96px 3.96px rgba(0, 0, 0, 0.25));
        border-radius: 9.9px;
      }
      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;

        background: #FFFFFF;
        box-shadow: 3.96px 3.96px 3.96px rgba(0, 0, 0, 0.25);
        height: 1.944vw;
        width: 1.944vw;
        border-radius: 50%;
        cursor: pointer;
        margin-top: -0.472vw; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
      }
    }
  }
}
